<div id="adminDIV">
  <h1 id="admdash">ADMIN DASHBOARD</h1>
  <h3 id="rgst"> Register An Employee</h3>
    <!-- to register an employee -->
    <%- include('./partials/_addEmployee')%>
  
    <!-- lists of employee -->
    <%- include('./partials/EmpList(admin)')%>
  
    
  
    <!-- Reviews displaying -->
    <div id="perf-rvw">
      <h3 id="rvws">Reviews</h3>
      <%- include('./partials/displayPerf(admin)')%>
    </div>
    <script src="/js/script.js"></script>
  </h3>

</div>
