<form action="/employee/create-session" method="post">
  <label for="userN">Email</label>
  <input type="email" name="email" id="userN" required />
  <label for="pwd">Password</label>
  <input type="password" name="password" id="pws" required />

  <button type="submit">sign in</button>
</form>
