body{
    margin:0%;
    padding: 0%;

    // background-color: #FF3CAC;
    // background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 1%, #2B86C5 100%);
   
    // background: #232526;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #1c2841;
    
    #layout-m{
        height: 100%;
    }
}