.rvw ul {
  list-style: none; }
  .rvw ul #box-perfrvw {
    border: 2px solid #3b753e;
    box-shadow: 3px 3px 16px  #76bd87e5;
    width: 45vw;
    padding-left: 13%;
    margin-bottom: 12px;
    margin-top: 5px; }
    .rvw ul #box-perfrvw #h1 {
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-bottom: 0;
      color: #65aec7; }
    .rvw ul #box-perfrvw a {
      text-decoration: none;
      color: rgba(212, 113, 113, 0.815);
      font-size: 1rem;
      text-transform: capitalize; }
    .rvw ul #box-perfrvw a:hover {
      color: #ec3c3c; }
    .rvw ul #box-perfrvw li {
      margin-top: 6px;
      padding-left: 2rem;
      margin-bottom: 0;
      color: #65aec7; }
    .rvw ul #box-perfrvw small #perfUSER {
      margin-top: 0;
      color: #3b68d1;
      padding-left: 13rem;
      text-transform: uppercase; }
