.feedbacksforperf #fdbkForm {
  margin-top: 1rem;
  padding-left: 6rem; }
  .feedbacksforperf #fdbkForm textarea {
    border-radius: 15px;
    padding: 0.6rem;
    text-align: center;
    height: 2.2rem;
    width: 25rem; }
  .feedbacksforperf #fdbkForm #btn-reply {
    border-radius: 5px;
    border: 2px solid red;
    height: 1.8rem;
    width: 3rem;
    cursor: pointer; }

.feedbacksforperf .showfdbk #editRevww {
  margin-left: 15%;
  border: 3px solid teal;
  width: 15rem;
  box-shadow: 1px 1px 14px #149b1b;
  margin-bottom: 1rem;
  padding-left: 3%; }
  .feedbacksforperf .showfdbk #editRevww p#prf {
    color: #1faa1f;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .feedbacksforperf .showfdbk #editRevww p#prf #remv a {
      color: salmon; }
  .feedbacksforperf .showfdbk #editRevww #updatervws #feed_back1 {
    border-radius: 5px;
    padding-left: 6px;
    text-align: center; }
  .feedbacksforperf .showfdbk #editRevww #updatervws label {
    color: gold; }
  .feedbacksforperf .showfdbk #editRevww #updatervws #btn-editrvw {
    border-radius: 5px;
    border: 2px solid green;
    background-color: black;
    color: bisque;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 11rem; }

.feedbacksforperf .showfdbk .showrvw {
  margin-left: 15%;
  border: 3px solid teal;
  width: 15rem;
  box-shadow: 1px 1px 14px #149b1b;
  margin-bottom: 1rem; }

.feedbacksforperf .showfdbk p#feed {
  margin-bottom: 0;
  margin-top: 2%;
  text-transform: capitalize;
  border: none; }

.feedbacksforperf .showfdbk #nothing {
  border: none; }

.feedbacksforperf .showfdbk #rplyuser {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 50%;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-transform: capitalize;
  border: none; }
