#mainHeader {
  height: 3rem;
  background-color: #000000; }
  #mainHeader .Hname {
    display: flex;
    flex-direction: Row;
    justify-content: space-between; }
    #mainHeader .Hname p {
      margin-top: 1%;
      font-size: 1.3rem;
      font-family: 'Roboto Serif', sans-serif;
      font-weight: 600; }
      #mainHeader .Hname p a {
        padding-right: 1.5rem;
        text-decoration: none;
        color: #2b2bbe; }
    #mainHeader .Hname .h {
      padding-left: 8px; }
    #mainHeader .Hname h1#Home {
      font-size: 1.7rem;
      font-style: italic;
      margin-top: 0.5rem;
      margin-left: 38%;
      font-weight: 600;
      font-family: 'Vollkorn', serif;
      color: #2b2bbe; }
