.showfdbk ul #fdbkrvw p {
  text-transform: uppercase;
  color: #307930; }
  .showfdbk ul #fdbkrvw p small a {
    padding-left: 2px;
    text-transform: capitalize; }

.showfdbk ul #fdbkrvw #reply {
  color: rgba(109, 109, 218, 0.671);
  text-transform: capitalize;
  margin-bottom: 5px; }
