#intro h1 {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Audiowide', cursive;
  color: #f3eeed;
  word-spacing: 4px;
  letter-spacing: 6px; }

#intro p {
  font-size: 1.4rem;
  font-family: 'Rampart One', cursive;
  word-spacing: 4px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #327174; }

p#prof {
  text-align: center;
  font-family: 'Coda', cursive;
  color: salmon;
  box-shadow: 1px 1px 4px #f8f5f5;
  width: 15rem;
  margin-left: 42%;
  font-size: 1.3rem; }

#otherprofiles {
  margin: auto;
  height: 10vh;
  width: 20rem;
  border: 2px solid black;
  border-radius: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: center;
  background-color: #080808; }
  #otherprofiles a {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Ruslan Display', cursive; }
  #otherprofiles a:hover {
    color: red;
    box-shadow: 3px 3px 6px #53160f; }
