.Login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%; }
  .Login .empLogin h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: salmon; }
  .Login .empLogin #Empform {
    display: flex;
    flex-direction: column; }
    .Login .empLogin #Empform label {
      margin-left: 5px;
      margin-top: 3px;
      color: salmon; }
    .Login .empLogin #Empform #userN {
      margin-top: 5px;
      width: 15rem;
      height: 2rem;
      text-align: center;
      border-radius: 1rem;
      border: 2px solid black; }
    .Login .empLogin #Empform #pws {
      margin-top: 5px;
      width: 15rem;
      height: 2rem;
      text-align: center;
      border-radius: 1rem;
      border: 2px solid black; }
    .Login .empLogin #Empform #S-btn {
      background-color: #4080b8;
      color: aliceblue;
      font-size: 1rem;
      margin-top: 15px;
      border-radius: 4px;
      height: 1.8rem;
      cursor: pointer;
      border: 2px solid #0e0101; }
  .Login .empLogin p {
    font-weight: 500;
    color: #e09a92; }
    .Login .empLogin p a {
      text-decoration: none;
      color: #f12828; }
    .Login .empLogin p a:hover {
      color: salmon; }
  .Login .adminLogin h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #72fab1; }
  .Login .adminLogin #Admform {
    display: flex;
    flex-direction: column; }
    .Login .adminLogin #Admform label {
      color: #72fab1;
      padding-left: 5px; }
    .Login .adminLogin #Admform #userN {
      margin-top: 5px;
      width: 15rem;
      height: 2rem;
      text-align: center;
      border-radius: 1rem;
      border: 2px solid black; }
    .Login .adminLogin #Admform #pws {
      margin-top: 5px;
      width: 15rem;
      height: 2rem;
      text-align: center;
      border-radius: 1rem;
      border: 2px solid black; }
    .Login .adminLogin #Admform #L-btn {
      background-color: #4080b8;
      color: aliceblue;
      font-size: 1rem;
      margin-top: 15px;
      border-radius: 4px;
      height: 1.8rem;
      cursor: pointer;
      border: 2px solid #0e0101; }
  .Login .adminLogin p {
    color: #87c7a5;
    text-align: center; }
